header {
    background-position: 300px;
    padding: 0%;

    h1 {
        background-color: $background-estilos;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-style: oblique;
        margin: 10px;
        border: 5px solid black;
         
    }

    .nav-logo {
        background-color: white;
        height: 110px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 11px;
        border: 5px solid black;
    }

    .nav-lista {
        font-style: oblique;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap
    }

    .breadcrumb { 
        @extend .nav-lista;
    }


  

    nav a {
        font-weight: 600;
        padding-top: 10px;
        padding-left: 10px;
        text-decoration: none;
        color: black;
        text-align: center;
    }
    
    nav ul {
        list-style-type: none;
        padding-left: 0px;
        text-align: center;
        display: flex;
    }
    
    nav a:hover {
        color: gray
    }

}