$back-ground-h2:rgb(237, 237, 237);
$padding-h2: 15px;
$background-fot-news: linear-gradient(to left, rgb(251, 203, 203), rgb(255, 254, 254));
$backgroud-section: linear-gradient(to left, rgb(254, 241, 241), rgb(255, 254, 254));