header {
  background-position: 300px;
  padding: 0%;
}
header h1 {
  background-color: rgb(228, 226, 226);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  margin: 10px;
  border: 5px solid black;
}
header .nav-logo {
  background-color: white;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 11px;
  border: 5px solid black;
}
header .nav-lista, header .breadcrumb {
  font-style: oblique;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
header nav a {
  font-weight: 600;
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
  text-align: center;
}
header nav ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
  display: flex;
}
header nav a:hover {
  color: gray;
}

aside {
  padding: 50px;
  margin: 200px;
}
aside h5 {
  font-style: inherit;
}

main .banner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
main .banner2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
main .titulo-banner2 {
  font-style: oblique;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main .galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
main .gallery-container {
  float: left;
  width: 35%;
  margin-right: 100px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: start;
}
main .gallery-container img {
  width: 100%;
  height: auto;
}
main #menu-buzo {
  float: left;
}
main .boton-estilo {
  background-color: rgb(237, 237, 237);
  color: rgb(34, 31, 31);
  padding: 10px 20px;
  border: solid linear-gradient(to top, rgb(202, 121, 135), rgb(255, 254, 254));
  border-radius: 3px;
  cursor: pointer;
}
main article .descripcion-politicas {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#inscripcion {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(to left, rgb(88, 86, 86), rgb(224, 140, 175));
}

section {
  display: block;
  margin: 50px;
  height: 200px;
  background-image: linear-gradient(to top, rgb(202, 121, 135), rgb(255, 254, 254));
}
section .grid-layoud {
  display: block;
  clear: both;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: space-around;
  padding: 25px;
}
@media screen and (max-width: 400px) {
  section .grid-layoud {
    font-size: 50%;
  }
}
section .lista-1 {
  font-style: normal;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
section h3 {
  font-style: bold;
}

footer {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: solid 5px black;
  background-color: rgb(228, 226, 226);
}

body {
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  scroll-behavior: auto;
  background-color: antiquewhite;
}

h2 {
  background-color: rgb(237, 237, 237);
  padding: 15px;
  font-style: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(237, 237, 237);
}

* {
  margin: 0px;
  padding: 0px;
}

/*# sourceMappingURL=style.css.map */
